{% extends "base.html" %}


{% block title%}
Update
{% endblock %}

{% block body%}
<div class="container mt-5">
    <h1>Update</h1>
    <form method="post">
        <input type="text" name="title" id="title" value="{{ article.title }}" class="form-control"><br>
        <textarea name="intro" id="intro"  class="form-control">{{ article.intro }}</textarea><br>
        <textarea name="text" id="text" class="form-control">{{ article.text }}</textarea><br>
        <input type="submit" class="btn btn-success" value="Send">
    </form>
</div>
{% endblock %}
